/* VARIABLES ------------------------------------------- (BEGIN) */

:root {
    --gelatoitaliano_green: #59EADB;
    --gelatoitaliano-gray: darkgray;
    --gelatoitaliano-text-col: black;
}

/* VARIABLES ------------------------------------------- (END) */

/* LOCATION INFO (BEGIN) */

body {
    padding-top: 205px;
}

.padding-insta-logo {
    margin-left: 107px !important;
}

.location-info {
    background-color: var(--gelatoitaliano_green);
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

/* LOCATION INFO (END) */

/* NAVBAR (BEGIN) */

.nav-link {
    font-family: Calibri, serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black !important;
    letter-spacing: 0.25rem;
}

.nav-collapse-properties {
    display: table;
    margin: 0 auto;
}

@media(min-width: 992px) {
    .nav-collapse-properties {
        padding-right: 80px;
    }
}

.nav-link:hover {
    color: var(--gelatoitaliano-gray) !important;
    transition: 0.5s color;
}

.colored-social-media-icon {
    background-color: var(--gelatoitaliano_green);
    border-radius: 50%;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.colored-social-media-icon:hover {
    background-color: #C9E8E4;
    transition: 0.5s background-color;
}

/* NAVBAR (END) */

/* BODY (BEGIN) */
body {
    color: var(--gelatoitaliano-text-col);
}
/* BODY (END) */

/* FOOTER (BEGIN) */

.footer {
    color: var(--gelatoitaliano-text-col);
    padding: 1.5rem 0;
}

.footer_link {
    color: var(--gelatoitaliano-text-col);
    text-decoration: none;
}

.footer_link.active, .footer_link:hover {
    color: var(--gelatoitaliano-gray);
}

/* FOOTER (END) */